body {
    background-color: rgb(65, 65, 65);
}

/* .calculator-section {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 800px;
    border-radius: 5px;
    background-color: rgb(65, 65, 65);
} */

.calculator {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 800px;
    
}
.calculator-screen {
    height: 140px;
    border-radius: 5px;
    background-color: rgb(27, 27, 27);
    color: white;
} 

.answer { 
    float: right;
    padding-right: 10px;
    padding-top: 40px;
    text-align: center;
    font-size: 40px;
}

.calculator-button {
    width: 144px;
    height: 100px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: rgb(12, 12, 12);
    border: none;
}

.calculator-button:hover {
    opacity: 90%;
}

.numbers-button {
    background-color: rgb(27, 27, 27);
}